<div class="login-container">
  <div class="side-container">
    <div class="left-side">
      <div class="logo-container">
        <img class="logo" src="https://www.flaticon.com/svg/static/icons/svg/2845/2845177.svg">
      </div>
      <div class="input-container">
        <div class="input-box">
          <input class="input" type="text" placeholder="Correo">
        </div>
        <div class="input-box">
          <input class="input" type="password" placeholder="Contraseña">
        </div>
      </div>
      <div class="button-container">
        <button class="login-button" routerLink="/portales" routerLinkActive="active">Ingresar</button>
      </div>
      <!--<button> NAVEGAR A PORTALES</button>-->
    </div>
    <div class="rigth-side">
    </div>
  </div>
</div>
